table {
  border: 1px solid #333;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #333;
  padding: 0.5rem;
}

.td-status {
  position: relative;
  padding-left: 1rem;
}

.td-status:before {
  border-left: 10px solid #cc2500;
  content: '';
  display: inline-block;
  height: 100%;
  position: absolute;
  width: 1px;
  top: 0;
  left: 0;
}

.td-status-assigned:before {
  border-color: #01755d;
}

.td-status-read-only:before {
  border-color: #350092;
}