body {
  font-family: 'Nunito', sans-serif;
  padding: 0;
}

.App {
  text-align: left;
}

header {
  border-bottom: 2px solid #333;
  padding: 0 2rem;
}

h1 {
  font-family: 'Nunito', cursive;
  font-size: 48px;
  color: #333;
  letter-spacing: 4px;
  margin: 0 auto 0;
}

h3 {
  border-bottom: 2px solid #333;
  display: block;
  margin: 0 0 1rem;
  width: 100%;
}

main {
  display: flex;
}

.filter-bar {
  border-right: 2px solid black;
  padding: 1rem;
  width: 240px;
}

.cards {
  flex: 1;
  padding: 1rem 2rem;
}

nav {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  margin: 0 auto 3rem;
}

nav section {
  margin-bottom: 2rem;
  width: 100%;
}

.button {
  border: 1px solid #333;
  border-radius: 3px;
  display: inline-block;
  height: 2rem;
  margin: 0 0.5rem 1rem 0;
  padding: 0 0.5rem;
  text-align: center;
}

.button:hover {
  background: #f2f2f2;
  cursor: pointer;
}

.label {
  color: #333;
  margin: 0 1rem 0 0;
}

.toggle {
  display: flex;
  margin: 0 2rem 2rem 0;
}

.toggle button {
  border: 1px solid #333;
  border-right: none;
  border-radius: 3px 0 0 3px;
  display: block;
  height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 40px;
}

button.active {
  background: #c0edf5;
}

.toggle button+button {
  border-radius: 0;
}

.toggle button:last-child {
  border-radius: 0 3px 3px 0;
  border-right: 1px solid purple;
}

hr {
  border-color: #333;
  margin: 1rem 0;
  width: 100%;
}