body {
  font-family: 'Nunito', sans-serif;
  padding: 30px 0;
}

.App {
  text-align: center;
}

h1 {
  font-family: 'Creepster', cursive;
  font-size: 72px;
  color: #ff8300;
  letter-spacing: 4px;
  text-shadow: 0px 0px 16px purple;
}